/* 
Color Hex Code 
1. Fiord (Dark Gray): #495C6A
2. Ziggurat (Light Gray): #83A8B0
3. Gin Fizz (Sand): #FCEDCC
4. Sand Dune (Gray - Brown): #8C7764
5. Saddle Brown (Brown): #9E3F05
*/

/* GLOBAL */
ion-content.background{
  --background: url('./Background/Welcome.png') no-repeat 100% 100%;
  background-size: cover !important;
  object-fit: cover;
}

.text{
  color:black;
}

.title{
  --background: #FCEDCC;
}

.card-sec3{
  --background:#83A8B0;
  --color:white;
  width: 95%;
  height: 150px;
}

.image-sec3{
  min-width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-empty{
  --background:url('./Background/Empty.png') no-repeat 100% 100%;
  background-size: cover !important;
  object-fit: cover;

  width: 100%;
  height: 50%;
}

.card-empty h2{
  color:white;
  font-size: large;
}

.card-empty ion-button{
  --border-radius: 15px;
  --background: white;
  --color: #495C6A;
}

/* Welcome Page */
ion-button.button-welcome {
  height: 40px;
  width: 250px;
  --background: #4b5e6c;
}

.text-welcome h1{
  font-size: 60px;
}

.text-welcome h6{
  font-size: x-large;
}

/* Login */
.text-login h1{
  font-size: x-large;
}

.card-login{
  border-radius: 5px;
}

ion-button.button-login {
  height: 40px;
  width: 250px;
  --background: #4b5e6c;
}

ion-input.input-login {
  border: 1px solid black;
  border-radius: 5px;
}

/* Register */
.text-register h1{
  font-size: xx-large;
}

.text-register h5{
  font-size: small;
  color: #9d3e04;
}

.card-register{
  border-radius: 5px;
}

ion-button.button-register {
  height: 40px;
  width: 250px;
  --background: #4b5e6c;
}

ion-input.input-register {
  border: 1px solid black;
  border-radius: 5px;
}

/* Tabs */
.tabs-css{
  --background:#FCEDCC ;
  --color:black;
}

/* Home */
.searchbar-home{
  --border-radius: 25px;
}

.card-home{
  background: #495C6A;
}

.card-home h3 ,h4 ,h5 ,h6{
  color: white;
}

.wrapper{
  min-height: 120px;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper ion-button{
  min-width: 210px;
  height: 210px;
  line-height: 110px;
  text-align: center;
  margin-right: 2px;
  --background:none;
}

.wrapper ion-img{
  min-width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper h1{
  color: white;
}

.image-sec2{
  min-width: 100px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  --background: none;
}


/* Detail Product */
.image-detail{
  min-width: 30vh;
  height: 30vh;
  border-radius: 5px;
}

ion-button.button-addToCart {
  height: 40px;
  width: 300px;
  --background: #83A8B0;
}

/* Sell Page */
.card-sell{
  --background:#83A8B0;
  --color:white;
  width: 100%;
  height: 150px;
}

.fab-button{
  --background: #495C6A;
}

ion-input.input-sell {
  border: 1px solid #83A8B0;
  border-radius: 5px;
  --background: #83A8B0;
  color: white;
}

ion-button.upload-sell{
  --border-radius: 10px;
  --background:#FCEDCC;
  --color:black;
  width: 40%;
}

ion-button.save-sell{
  --border-radius: 10px;
  --background:#495C6A;
  --color:white;
  width: 100%;
}

ion-button.cancel-sell{
  --border-radius: 10px;
  --background:#FF4545;
  --color:white;
  width: 100%;
}

/* Cart */
.card-cart{
  --background:#83A8B0;
  --color:white;
  width: 100%;
  height: 150px;
}

.checkout-button ion-button{
  width: 50%;
  --border-radius: 15px;
  --background: #495C6A;
  --color: white;
}

/* Checkout */

.list-checkout h5{
  --color: black;
}

.card-checkout{
  background: #83A8B0;
}

.card-checkout h3 ,h5 ,h6{
  --color: white;
}

.numeric-checkout{
  --color: #9E3F05;
}

.card-list-item{
  box-shadow: none;
  --background:white;
  --color:black;
  width: 100%;
  height: fit-content;
}

.image-item{
  min-width: 100%;
  height: 60px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-button.checkout-button{
  --border-radius: 10px;
  --background:#495C6A;
  --color:white;
  width: 40%;
}

/* Profile */
ion-label.info-profile{
  --color:white;
}

.info-profile{
  --background:#83A8B0;
  --color: white;
  border-radius: 5px;
}

.btn1-profile{
  width: 70%;
  --background:#4b5e6c;
}

.btn2-profile{
  width: 70%;
  --background:#FF4545;
}